body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(120deg, #ff758c, #ff7eb3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

/* МІНЕ ОСЫ ЖЕТІСПЕЙ ТҰРҒАН */
.hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Жүректер */
.hearts span {
  position: absolute;
  bottom: -40px;
  font-size: 28px;
  animation: float 7s linear infinite;
}

/* Әртүрлі орын */
.hearts span:nth-child(1) { left: 10%; animation-duration: 6s; }
.hearts span:nth-child(2) { left: 30%; animation-duration: 8s; }
.hearts span:nth-child(3) { left: 50%; animation-duration: 7s; }
.hearts span:nth-child(4) { left: 70%; animation-duration: 9s; }
.hearts span:nth-child(5) { left: 90%; animation-duration: 6.5s; }

/* Ұшу анимациясы */
@keyframes float {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-110vh) scale(1.5);
    opacity: 0;
  }
}
.heart {
  position: fixed;
  bottom: -30px;
  font-size: 24px;
  animation: fly 3s linear forwards;
  pointer-events: none;
}

@keyframes fly {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-110vh) scale(1.5);
    opacity: 0;
  }
}
#buttons {
    margin-top: 20px;
}

#yes {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

#no {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
}

#loveMessage {
    margin-top: 20px;
    font-size: 24px;
    color: white;
}
h1{
 color: brown ;
}
.bigHeart {
    font-size: 80px;
    animation: pop 0.6s ease;
}

@keyframes pop {
    0% { transform: scale(0); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

/* .smallHeart {
    position: absolute;
    font-size: 25px;
    animation: fly 1s forwards;
}

@keyframes fly {
    0% {
        opacity: 1;
        transform: translate(0,0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(var(--x), var(--y)) scale(0.5);
    }
} */
.smallHeart {
    position: absolute;
    font-size: 30px;
    pointer-events: none;
    animation: fly 5s ease-out forwards;
}

@keyframes fly {
    0% {
        opacity: 1;
        transform: translate(0,0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(var(--x), var(--y)) scale(0.3) rotate(720deg);
    }
}
